# ignore details.txt file
details.txt

# ignore build directory
build/

# ignore DS_Store file
.DS_Store

# ignore local data files
data/*
!data/.gitkeep

# ignore python cache directory
src/__pycache__/

# Node web server
web/node_modules/
.env
.env.*
!.env.example